.blog-main {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:  var(--darkgrey);
}
.blog-h1 {
    /*font-weight: bold;*/
    font-size: 2em;
    padding-bottom: 10px;
}
.blog-h2 {
    /*font-weight: bold;*/
    font-size: 16pt;
    padding-bottom: 5px;
    padding-left: 5px;
}
.blog-ul {
    padding-left: 10px;
}
.blog-li {
    margin-top: 4px;
    padding: 5px;
    border: 2px solid var(--grey);
    border-radius: 5px;
    transition: top left ease-out 0.5s;
    z-index: 0;
    position: relative;
}
.blog-li:hover {
    top: -2px;
    left: -2px;
    box-shadow: 2px 2px 2px black;
}
.blog-a {
    text-decoration: none;
    color: var(--darkgrey);
}
.blog-a:hover {
    text-decoration: none;
}
.blog-post-title {
    font-weight: bold;
    padding-bottom: 3px;
}
.blog-post-excerpt {
    padding-left: 3px;
}
.blog-feature-img {
    height: 80px;
    float: right;
}
.blog-post-container {
    min-height: 100px;
}