.main-resources-div {
    padding: 20px;
    color: var(--darkgrey);
}
.resources-h1 {
    font-size: 2em;
    padding-bottom: 10px;
}
.resources-body {
    padding: 0;
}
.resources-paragraph {
    padding-left: 15px;
    line-height: 1.6;
    font-size: 1em;
}