<!doctype html>
<html>
    <head>
        {% include main_head.html %}

        <!-- javascript -->
        <script src={{ "assets/js/vendor/marked.min.js" | absolute_url }}></script>
        <script src={{ "assets/js/vendor/purify.min.js" | absolute_url }}></script>
        <script src={{ "assets/js/vendor/ansi_up.min.js" | absolute_url }}></script>
        <script src={{ "assets/js/vendor/prism.min.js" | absolute_url }}></script>
        <script src={{ "assets/js/vendor/katex.min.js" | absolute_url }}></script>
        <script src={{ "assets/js/vendor/katex-auto-render.min.js" | absolute_url }}></script>
        <script type="text/javascript" src={{ "assets/js/notebookjs/notebook.js" | absolute_url }}></script>
        <script type="text/javascript" src={{ "assets/js/nbjs_call.js" | absolute_url }}></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
        <link rel="stylesheet" href={{ "assets/css/vendor/prism.css" | absolute_url }} />
        <link rel="stylesheet" href={{ "assets/css/notebook.css" | absolute_url }} />

        <!-- SEO optimization -->
        {% seo %}
    </head>
    <body onload="load_notebooks()">
        <div id="main-box">
            {% include header.html %}
            {% include navigation.html %}
            <div id="main-content-box">
                <div class="blog-main">
                    {{ content }}
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>